/*-------------------------Global-style--------------------------*/

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
input {
  font-family: inherit;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: #4d5ae5;
  color: #ffffff;
}

/*----------------------------------------------------------------Mobil-styles*/
/*------------------------------------Top-line--------------------------------*/
.top-line {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top-line .container {
  display: flex;
  padding-bottom: 16px;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-top {
  color: #2e2f42;
}
@media (max-width: 767px) {
  .top-line .list-nav,
  .top-line .contakt {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.mobil-menu-box {
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.mobil-menu {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-box:active .mobil-menu {
  fill: #404bbf;
}

/*------------------------------Section-1------------------------------------*/
.top-fon {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-m.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-resolution: 2x) {
  .top-fon {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-m@x2.jpg);
  }
}
.top-fon .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
}
.top-title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-bottom: 72px;
}
.top-but {
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.top-but:hover,
.top-but:focus,
.top-but:active {
  background-color: #404bbf;
}

/*----------------------------------Section-2------------------------------*/
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.met-list-item .text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
@media (max-width: 1157px) {
  .met-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.methods {
  padding-bottom: 96px;
  padding-top: 96px;
}
.methods-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

/*---------------------------------Section-3-------------------------------------*/
.team {
  background-color: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}
.photo {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
.sec-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.text-team {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text-team .text-title,
.port-item .text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 0;
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-list-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus,
.soc-link:active {
  background-color: #404bbf;
}
.soc-icon {
  fill: #f4f4fd;
}

/*--------------------------Section-4----------------------------*/
.portfolio {
  padding-bottom: 96px;
  padding-top: 96px;
}
@media (max-width: 1157px) {
  .overlay {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.port-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.port-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
@media (max-width: 1157px) {
  .port-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
.port-item .text-title,
.port-item .text {
  text-align: left;
}
.port-item .text-title {
  margin-bottom: 8px;
}

/*-----------------------------Footer------------------------------------------*/
.down-line {
  background-color: #2e2f42;
  padding-bottom: 96px;
  padding-top: 96px;
}
.logo-down {
  color: #f4f4fd;
}
.down-line .text {
  color: #f4f4fd;
  text-align: left;
}
.down-line .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.down-line .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.down-line .down-soc-box .text {
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}
.soc-list-down {
  display: flex;
  gap: 16px;
}
.down-list {
  width: 40px;
  height: 40px;
}
.down-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.down-link:hover,
.down-link:focus,
.down-link:active {
  background-color: #31d0aa;
}
.soc-icon-down {
  fill: #f4f4fd;
}
.down-line .subscribe .text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.email-foot {
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.email-foot::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}
.form-sub {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.foot-but {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-but:hover,
.foot-but:focus,
.foot-but:active {
  background-color: #404bbf;
}
.foot-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/*----------------------------------modal-menu---------------------*/
.mod-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #fcfcfc;
  padding: 72px 16px 40px 16px;
}

.mod-menu-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.but-clos {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.but-clos:hover,
.but-clos:focus,
.but-clos:active {
  background-color: #404bbf;
  border: none;
}
.but-clos:hover .icon-clos,
.but-clos:focus .icon-clos,
.but-clos:active .icon-clos {
  fill: #ffffff;
}
.icon-clos {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.link-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover,
.link-nav:focus,
.link-nav:active {
  color: #404bbf;
}
#activ-m .link-nav {
  color: #404bbf;
}
.contakt {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.link-addres {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#tel-ack .link-addres {
  color: #404bbf;
}
.link-addres:hover,
.link-addres:focus,
.link-addres:active {
  color: #404bbf;
}
.menu-overlay .soc-list {
  gap: 40px;
}

/*---------------------------Input-form-------------------------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 17px 24px 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}
.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.box-label {
  margin-bottom: 8px;
}
.box-coment {
  margin-bottom: 16px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}
.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-form {
  position: relative;
  padding: 0;
}
.form-input {
  height: 40px;
}
.form-input,
.form-input-comment {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-comment {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
}
.form-input:active,
.form-input-comment:active,
.form-input:hover,
.form-input-comment:hover,
.form-input:focus,
.form-input-comment:focus {
  border-color: #4d5ae5;
}
.form-input:active + .icon-form,
.form-input:hover + .icon-form,
.form-input:focus + .icon-form {
  fill: #4d5ae5;
}
.form-input-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f4266;
}
input {
  padding: 11px 34px;
}
.box-chek {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .pp-label {
    display: flex;
    align-items: center;
    width: 256px;
  }
  .box {
    flex-shrink: 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pp-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.box {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.visually-hidden:checked + .pp-label .box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.pp-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}
.but-form {
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.but-form:hover,
.but-form:focus,
.but-form:active {
  background-color: #404bbf;
}

/*--------------------------------------------------------------Tablet-styles-*/
/*-----------------------------Header-----------------------------------------*/
@media (min-width: 768px) {
  .top-line .container {
    padding-bottom: 0;
    padding-top: 0;
  }
  .container {
    max-width: 768px;
  }
  .mobil-menu-box {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .link-nav {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
  }
  .link-addres {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .list-nav {
    margin-bottom: 0;
    flex-direction: row;
    gap: 40px;
  }
  .contakt {
    margin-bottom: 0;
    gap: 12px;
  }
  .navigat {
    display: flex;
    gap: 120px;
    align-items: baseline;
  }
  #activ .link-nav {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #activ .link-nav::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav {
    display: block;
    padding: 24px 0;
  }

  /*------------------------------Section-1-------------------------------------*/
  .top-fon {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    max-width: 768px;
  }
  @media (min-resolution: 2x) {
    .top-fon {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero@x2.jpg);
    }
  }
  .top-fon .container {
    padding-bottom: 112px;
    padding-top: 112px;
  }
  .top-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /*---------------------------------Section-2---------------------------------*/
  .methods-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .met-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .methods .text-title {
    text-align: left;
  }

  /*---------------------------------Section-3----------------------------------*/
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  /*---------------------------------Section-4----------------------------------*/
  .port-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .port-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /*---------------------------------Footer-------------------------------------*/
  .down-line .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 24px;
  }
  @media (max-width: 1157px) {
    .down-line .container {
      max-width: 527px;
    }
  }
  .down-line .logo-box {
    max-width: 264px;
  }
  .down-line .logo {
    display: inline-block;
  }
  .down-line .down-soc-box {
    max-width: 208px;
  }
  .down-line .down-soc-box .text {
    text-align: left;
  }
  .form-sub {
    flex-direction: row;
    gap: 24px;
  }
  .down-line .subscribe .text {
    text-align: left;
  }

  /*-------------------------------Input-form---------------------------------*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/*---------------------------------------------------------------laptop-version*/
@media (min-width: 1158px) {
  /*-------------------------------Header--------------------------------------*/
  .container {
    max-width: 1158px;
  }
  .navigat {
    gap: 76px;
  }
  .contakt {
    flex-direction: row;
    gap: 40px;
  }
  .link-addres {
    font-size: 16px;
    line-height: 1.5;
  }

  /*-------------------------------Section-1-------------------------------------*/
  .top-fon {
    max-width: 1440px;
  }
  .top-fon .container {
    padding-bottom: 188px;
    padding-top: 188px;
  }
  .top-title {
    margin-bottom: 46px;
  }

  /*-------------------------------Section-2--------------------------------------*/
  .methods,
  .team,
  .portfolio {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .met-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .methods .text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .methods .text {
    font-weight: 400;
  }
  .methods-list {
    flex-wrap: nowrap;
  }
  .met-list-item {
    width: calc((100% - 72px) / 4);
  }

  /*-------------------------------Section-3---------------------------------*/
  .team .team-list {
    flex-wrap: nowrap;
  }

  /*-------------------------------Section-4---------------------------------*/
  .text-slate {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .port-item:hover .overlay,
  .port-item:focus .overlay {
    transform: translateY(0);
  }
  .port-item:hover,
  .port-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .port-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*-----------------------------------Footer-----------------------------------*/
  .down-line .container {
    flex-wrap: nowrap;
    gap: 0;
  }
  .down-line .down-soc-box {
    margin-left: 120px;
    margin-right: 80px;
  }
}
